[submodule "Stream"]
	path = Stream
	url = https://github.com/Ali-Mirghasemi/Stream

[submodule "Codec"]
	path = Codec
	url = https://github.com/Ali-Mirghasemi/Codec

[submodule "CmdManager"]
	path = CmdManager
	url = https://github.com/Ali-Mirghasemi/CmdManager

[submodule "Key"]
	path = Key
	url = https://github.com/Ali-Mirghasemi/Key

[submodule "Str"]
	path = Str
	url = https://github.com/Ali-Mirghasemi/Str

[submodule "Benchmark"]
	path = Benchmark
	url = https://github.com/Ali-Mirghasemi/Benchmark
	branch = origin/master
[submodule "Param"]
	path = Param
	url = https://github.com/Ali-Mirghasemi/Param
[submodule "Printer"]
	path = Printer
	url = https://github.com/Ali-Mirghasemi/Printer
[submodule "StatusLed"]
	path = StatusLed
	url = https://github.com/Ali-Mirghasemi/StatusLed
[submodule "KeyPad"]
	path = KeyPad
	url = https://github.com/Ali-Mirghasemi/KeyPad
[submodule "Signal"]
	path = Signal
	url = https://github.com/Ali-Mirghasemi/Signal
[submodule "ps2_keyboard"]
	path = ps2_keyboard
	url = https://github.com/hamsaco/ps2_keyboard
